@import 'src/data/variables/variables';

.not-active {
  pointer-events: none;
  opacity: 0.4;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #E8EEF3;
  color: $base800-color;
  margin: 0;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 90;
    display: none;
  }
}
html:has(.open-dropdown),
body:has(.open-dropdown) {
  overflow: hidden;
  .overlay {
    display: block;
  }
  header {
    z-index: 99;
  }
  .result {
    z-index: 99;
  }
}
.display-none {
  display: none !important;
}
.open-popup {
  overflow: hidden;
}
.padding-right {
  padding-right: 15px !important;
}
#accessories .choose-accessories__drawers .nav-list_top.non-active {
  background: #F1F1F1 url('../../data/images/icon/arrow-up-black-fit-nonactive.svg') no-repeat center;
}
#accessories .choose-accessories__drawers .nav-list_bottom.non-active {
  background: #F1F1F1 url('../../data/images/icon/arrow-bottom-black-fit-nonactive.svg') no-repeat center;
}
a {text-decoration: none;}
p {
  padding: 0;
  margin: 0;
}
.grey {
  background-color: #f8f7f7;
}
.margin-top {
  margin-top: 50px;
}
.margin-top-40 {
  margin-top: 40px;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
}