$base800-color: #1D2939;
$baseWhite-color: #ffffff;
$gray100-color: #f2f4f7;
$gray400-color: #98A2B3;
$gray500-color: #667085;
$gray700-color: #344054;
$gray900-color: #101828;
$brandBlue-color: #006ABA;
$hover-color: #0092FF;
$black-color: #000000;
$oswald-font: 'Oswald', sans-serif;